@media (max-width: 400px) {
    



body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
}

#top2 h1 {
    display:inline;
    font-family: 'Nunito';
    font-size: 35px;
    text-transform: uppercase;
    padding-left: 0px;
}

#top1 img {
    height: 50%;
    width: 50%;
}

a {
    color: rgb(220,124,111); /* peach pink */
    text-decoration: none;
}

a:hover {
    color: orange;
}

#top2 nav {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 17px;
    padding-left: 0px;
}

nav ul {
    padding-left: 3px;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li:after {
    content: " |";
}

nav ul li:last-child:after {
    content: "";
}

.currentpage {
    font-weight: 700;
}


address {
    font-style: normal;
    margin-top: -20px;
}

address ul {
    list-style-type: none;
    padding-left: 20px;
}
    
#socialmedia {
    display: none;
}

#container1 {
    margin: 0 auto;
    max-width: 278px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
    overflow: auto;
}

#top1 {
    max-width: 200px;
    border: 1px solid transparent;
    padding-left: 75px;
}

#top2 {
    max-width: 260px;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 0px;
}

#container2 {
    margin: 0 auto;
    max-width: 278px;
    border: 1px solid transparent;
    padding: 20px;
    overflow: auto;
}

img {
    height: 100%;
    width: 100%;
    
}

h1 {
    display:inline;
    font-family: 'Nunito';
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 0px;
}

.column1 h2 {
    color: rgb(220,124,111);
    font-family: 'Lato';
    font-weight: 700;
    font-size: 27px;
    margin-bottom: -10px;
    margin-top: 15px;
}

#experience h2 {
    margin-top: 27px;
}
    
.column2 h2 {
    color: rgb(220,124,111);
    font-family: 'Lato';
    font-weight: 700;
    font-size: 27px;
    margin-bottom: -10px;
    margin-top: 15px;
}

nav {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

p {
    margin-bottom: -12px;
}

.column1 address ul {
    font-size: 15px;
    padding-left: 0px;
    margin-top: 25px;
    margin-bottom: 0px;
}

#container3 {
    margin: 0 auto;
    max-width: 298px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 0px;
    overflow: auto;
    margin: 0;
}

#top3 {
    float: left;
    width: 60px;
    border: 1px solid transparent;
    padding-left: 10px;
}

#top4 {
    float: right;
    width: 215px;
    border: 1px solid transparent;
    margin-top: 6px;
}

#container4 {
    margin: 0;
    width: 298px;
    border: 1px solid transparent;
    padding: 10px;
    overflow: auto;
}

#awards ul {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}

#activities ul {
    padding-left: 0px;
    list-style-type: none;
}

#activities ul ul {
    padding-left: 40px;
    list-style-type: disc;
}

#activities ul ul li:first-child {
    margin-top: 3px;
}

#skills ul {
    padding-left: 0px;
    list-style-type: none;
}

#skills ul ul {
    padding-left: 40px;
    list-style-type: disc;
}

#more ul {
    padding-left: 0px;
    list-style-type: none;
}

.title {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
}

.occupation {
    font-family: 'Lato';
    font-weight: 300;
}

.occupation1 {
    font-family: 'Lato';
    font-weight: 300;
}

.occupation:after {
    content: " | ";
}

.column1 {
    float: none;
    width: 288px;
    border: 1px solid transparent;
}

.column2 {
    float: none;
    width: 288px;
    border: 1px solid transparent;
}

h2 {
    color: rgb(220,124,111);
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}
    
#writings ul {
    padding-left: 20px;
}

#writings li {
    font-size: 15px;
    list-style-type: none;
    margin-bottom: 5px;
}

#writings li a {
    color: black;
    font-weight: 200;
}

#writings li a:hover {
    color: orange;
}

.d1 {
    float: none;
    width: 300px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.d2 {
    float: none;
    width: 300px;
    margin-left: 0px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.d3 {
    float: none;
    width: 300px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding-bottom: 0px;
}

.d4 {
    float: none;
    width: 470px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.d5 {
    float: none;
    width: 470px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.d6 {
    float: none;
    width: 235px;
    height: 304px;
    margin-bottom: 30px;
    margin-left: 0px;
    border: 1px solid #ccc;
}

#md2 {
    clear: both;
}

#nd img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}

#md1 {
    display: none;
}
    
#md2 {
    display: none;
}
#md1 img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}

#md2 img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}

#me {
    float: left;
    width: 300px;
}

#me img {
    width: 100%;
    height: 100%;
    
}

#about {
    float:left;
    width: 300px;
    margin-top: 10px;
}

#about p {
    margin-bottom: 20px;
}

#intro {
    color: rgb(220,124,111); /* peach pink */ 
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#container4 {
    margin-right: 0;
}




}