/* Print Stylesheet */

* {
  color: black;
  background: transparent;
  font-size: 12pt;
  font-family: serif;
}

@page {
  margin: 0.5in;
}

nav {
    display: none;
}

img {
    height: 100pt;
    width: 100pt;
}

h1 {
    font-family: 'Nunito';
    font-size: 30pt;
    text-transform: uppercase;
}

h2 {
    font-size: 20pt;
    margin-bottom: -5pt;
}

a {
   text-decoration: none; 
}

address {
    font-style: normal;
}

address ul {
    list-style-type: none;
    padding-left: 0pt;
    padding-top: 6pt;
}

p {
    margin-bottom: -10pt;
}

#container3 {
    margin: 0 auto;
    width: 7.5in;
    border: 1pt solid transparent;
    border-bottom: 1pt solid #ccc;
    padding: 20pt;
    padding-bottom: 5pt;
    margin-top: -20pt;
    overflow: auto;
}

#container4 {
    margin: 0 auto;
    width: 7.5in;
    border: 1pt solid transparent;
    padding: 20pt;
    margin-top: -20pt;
    overflow: auto;
}

#experience h2 {
    margin-top: 22pt;
}

#awards ul {
    padding-left: 0pt;
    list-style-type: none;
}

#activities ul {
    list-style-type: none;
    padding-left: 0pt;
}

#activities ul li {
    margin-bottom: 3pt;
}

#activities ul ul {
    padding-left: 35pt;
    list-style-type: disc;
}

#activities ul ul li:first-child {
    margin-top: 3pt;
}

#skills ul {
    padding-left: 0pt;
    list-style-type: none;
}

#skills ul ul {
    padding-left: 35pt;
    list-style-type: disc;
}

#skills ul ul li:first-child {
    margin-top: 3pt;
}

#skills ul ul li:last-child {
    margin-bottom: 3pt;
}

#more ul {
    padding-left: 0pt;
    list-style-type: none;
}

.occupation:after {
    content: " | ";
}

.title {
    font-weight: bold;
}

#top3 {
    float: left;
    width: 1in;
    border: 1pt solid transparent;
    padding-left: 80pt;
}

#top4 {
    float: right;
    width: 4.5in;
    border: 1pt solid transparent;
    margin-top: 22pt;
}

.column1 {
    float: left;
    width: 3.5in;
    border: 1pt solid transparent;
    margin-top: 0pt;
}

.column2 {
    float: right;
    width: 3.5in;
    border: 1pt solid transparent;
    margin-top: 0pt;
}