body.background-photo {
  background-image: url("../img/IMG_4811.JPG");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

body {
	  background-color: rgb(177, 179, 182);
}

.site-nav {
	margin-top: 100px;
}

.site-nav img {
	size: 50px 50px;
}

.site-nav h1 {
	color: white;
	font-weight: bolder;
}

.site-nav .side-nav {
	margin-left: 33%;
}

.site-nav .side-nav li a {
	color: white;
	font-size: 18pt;
}

.site-nav2 {
	margin-top: 60%;
}

.site-nav2 .margin1 {
	margin-left: 50px;
}

.site-nav2 .margin2 {
	margin-top: 20px;
}

.site-nav2 h1 {
	font-size: 20pt;
	color: white;
	font-weight: bolder;
}

.site-nav2 .side-nav {
	margin-left: 30px;
}

.site-nav2 .side-nav li a {
	color: white;
	font-size: 13pt
}

.site-nav2 .side-nav1 .social-media a {
	color: rgb(215, 102, 91);
	font-size: 25px;
	margin-left: 23px;
}


.resume p {
	line-height: 0px;
}

.resume .intern2 {
	margin-bottom: 0px;
	margin-top: 35px;
}

.resume h1 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.resume .education .degree {
	font-weight: bold;
	font-size: 16px;
}

.resume h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 30px;
}

.resume .experience .degree {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.resume .experience .secondary {
	text-transform: uppercase;
}

.resume .experience .description {
	margin-left: 60px;
}

.resume .experience .description i {
	font-size: 10pt;
	line-height: 0px;
}

.resume h3 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 30px;
}

.resume .skills .degree {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.portfolio h1 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.portfolio h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.portfolio h2 {
	margin-top: 30px;
}

.portfolio .news-story li {
	list-style-type: none;
}

.portfolio .news-story li a {
	color: black;
	font-size: 20px;
	text-transform: capitalize;

}

.magazine-design {
	background-color: rgb(229, 230, 231);
}

.magazine-design li {
	list-style-type: none;
	margin-top: 30px;
}

.flowContent {
	margin-top: 200px;
}

.flowContent h1 {
	font-size: 20pt;
}

.flowContent p {
	margin-top: 30px;
}

.flowContent p a {
	color: rgb(215, 102, 91);
}






/*
.headline {
	background: rgb( 0, 0, 0);
	color: rgb( 255, 255,4255);
	font-family: Georgia, serif;
	font-size: 4em;
	font-weight: bold;
	margin-top: 100px;
	padding: 50px 0 50px 0;
	text-align: center;
	text-transform: capitalize;

}

body,
h1,
h2,
h3,
h4,
h5,
h6,
li{
	font-family: 'Open Sans', sans-serif;
}

.panel
.smallerheadline {
	color: rgb(204, 51, 51);
	font-size: .9em;
	padding: 200px;
}
*/